type project
id MMKV
version 0.0.1
authors mvkra
description Library providing data structures that are decoupled from the storage used to store their contents
projectUrl https://github.com/mvkra/mmkv
tags memory-map-file data-structures key-value
include-pdbs true
